@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
.homesub{
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 9% 5% 0% 0%;
  font-size: 50px;
  color: rgb(51, 255, 0)
}


.homedes{
  font-family: 'Raleway', sans-serif;
  margin: 0.5% 0% 0% 0%;
  font-size: 55px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5 );
  display: inline-block;
}
.hometex{
  font-family: 'Oswald', sans-serif;
  margin: 0.5% 0% 0% 0%;
  font-size: 55px;
  color: red;
  display: inline-block;

}

.buttonhome{
  margin: 0% 0% 0% 0%
}





